@import url("https://fonts.googleapis.com/css2?family=Manjari:wght@400;700&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Righteous", cursive;
    font-family: "Manjari", sans-serif;
}

/* Navbar */

.container .appname {
    /* KnowProphet. */
    display: flex;
    justify-content: center;
    margin-top: 4%;
    font-family: "Bangers", cursive;
    color: #a54703;
    font-family: "Khula";
}
.container .appname img {
    width: 36px;
}
.container .questions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 35px;
    font-family: "Manjari", sans-serif;
}
.container .questions .que1 {
    background: #fde8cd;
    padding: 20px;
    border-radius: 17px;
}
.container .questions .que1 h3 {
    color: #000;
}

.container .questions .que1 .mc {
    color: #433520;
    margin: 20px;
}
.container .questions .que1 .mc h4 {
    color: #433520;
    margin: 10px;
}

.container .questions .que1 details {
    background-color: rgb(53, 138, 27);
    color: #fff;
    border-radius: 5px;
    padding: 5px;
}
