@import url("https://fonts.googleapis.com/css2?family=Manjari:wght@400;700&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Righteous", cursive;
    font-family: "Manjari", sans-serif;
}

/* Navbar */

.container .appname {
    /* KnowProphet. */
    display: flex;
    justify-content: center;
    margin-top: 4%;
    font-family: "Bangers", cursive;
    color: #a54703;
    font-family: "Khula";
}
.container .appname img {
    width: 36px;
}
.container .questions {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 35px;
    padding-right: 11px;
    padding-left: 40px;
    font-family: "Manjari", sans-serif;
}
.container .questions .que1 h3 {
    color: red;
}
